<main>
    <div class="calculator">

        <div class="display" id="output"></div>

        <div class="buttons buttons--big">
            <button onclick="calc.add(this.innerText)">9</button>
            <button onclick="calc.add(this.innerText)">8</button>
            <button onclick="calc.add(this.innerText)">7</button>
            <button onclick="calc.add(this.innerText)">6</button>
            <button onclick="calc.add(this.innerText)">5</button>
            <button onclick="calc.add(this.innerText)">4</button>
            <button onclick="calc.add(this.innerText)">3</button>
            <button onclick="calc.add(this.innerText)">2</button>
            <button onclick="calc.add(this.innerText)">1</button>
            <button onclick="calc.add(this.innerText)">0</button>
            <button onclick="calc.dot()">.</button>
        </div>

        <div class="buttons buttons--small">
            <button onclick="calc.op(this.innerText)">+</button>
            <button onclick="calc.op(this.innerText)">-</button>
            <button onclick="calc.op(this.innerText)">*</button>
            <button onclick="calc.op(this.innerText)">/</button>
        </div>

        <div class="buttons buttons--small">
            <button onclick="calc.result()">=</button>
            <button onclick="calc.reset()">C</button>
        </div>

    </div>
</main>